.cardContentAddElement{
    height: 100%;
}
.cardBodyAddElement{
    display:flex;
    align-items:center;
    justify-content:center;
}
.ColTitle {
    display: flex ;
    text-align: justify;
}
.ColButtoms{
    display: flex ;
    align-items: center;
    justify-content: space-between;
}